@model List<ChatbotAIML_AspNetCore.Models.Consulta>
@{
    ViewData["Title"] = "About";
}
<h3>Haga su consulta</h3>



@foreach (var c in Model)
{
    <div class="text-left" style="color: #3fbbc0; font-weight:600;">
        @c.Respuesta
    </div>

    <div class="text-right" style="color: #4272c1; font-weight:600;">
        @c.Pregunta
    </div>

}
<form action="/Bot/ConsultarBot" method="post">
    <input type="text" style=" width:100%;" name="consulta" value="" /> <br /><br />

    <input class="btn" style=" float: right; background: #4272c1 !important;" type="submit" name="enviar" value="Enviar" />

</form>